Django==5.2.14
gunicorn==26.0.0
greenlet==3.3.2
psycopg2-binary==2.9.11
python-dotenv==1.2.2
SQLAlchemy==2.0.48
typing_extensions==4.15.0
pytest==7.4.3
requests==2.31.0
beautifulsoup4==4.13.4
djangorestframework==3.17.1
django-cors-headers==4.9.0
google-genai==1.74.0
werkzeug==3.1.3